# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake cache
build/

*.user
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-97022a68fc692dafbf57.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-30d3f3bbe715a921a8d1.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7dae628485d9182592d9.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-12-09T14-33-44-0752.json
/cmake-build-debug/.cmake/api/v1/reply/target-GestionCentraliseeLogs-Debug-278ecd501e163b0991ac.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-831f3eea7404bff5b248.json
/cmake-build-debug/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/4.0.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/4.0.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/build.make
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/depend.make
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/flags.make
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/includes_CXX.rsp
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/link.txt
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/linkLibs.rsp
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/GestionCentraliseeLogs.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/InstallScripts.json
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
